In [3]:
import pandas as pd
import mysql.connector

In [4]:
connection = mysql.connector.connect(
    host='localhost',
    user='root',
    password='Leo@2567',
    database='price_flare'
)

query = "SELECT * FROM tbl_prices"
data = pd.read_sql(query, connection)

data.head()

/tmp/ipykernel_637613/2414289787.py:9: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data = pd.read_sql(query, connection)

    id  item  market     price                date
0  101     1       1  25336.59 2022-08-31 04:37:47
1  102     1       1  31065.07 2023-03-24 00:53:57
2  103     2       2  32296.71 2023-08-28 10:19:31
3  104     2       2  25164.33 2023-09-22 02:19:36
4  105     1       1  32647.96 2022-12-31 04:38:53